#configCategoryOptions .configCategoryOption {
	border-bottom: 1px solid #f0f0f0;
	padding: 8px 0 8px 0;
}

#configCategoryOptions input[type=text] {
	width: 97%;
}

#configCategoryOptions .configOptionControl label {
  padding: 0;
}

#configCategoryOptions .configOptionInfo {
  float: left;
  width: 200px;
}

#configCategoryOptions .configOptionControl {
  margin-left: 210px;
}

#configCategoryOptions textarea {
  width: 300px;
}