.DS_Store
.rvmrc
.bundle
Gemfile.lock
config/app_keys.yml
config/config.yml
config/database.yml
config/deploy.rb
coverage
db/schema.rb
index
log/*.log
log/ferret_server.*
nbproject
public/datas/**
public/logos/**
public/avatars/**
tmp/restart.txt
tmp/**/*
public/themes/*
*.sqlite3
db/schema.rb
