table.applicationLogs {
  width: 100%;
}

table.applicationLogs th {
  background: transparent;
  border-bottom: 1px solid #ccc;
}

table.applicationLogs tr.logToday {
  background: #FFFFCC;
}

table.applicationLogs tr.logYesterday {
  background: #FFFFE5;
}

table.applicationLogs tr.logOlder {
  background: white;
}

table.applicationLogs td {
  border-bottom: 1px solid #f0f0f0;
	padding: 6px 4px;
}

table.applicationLogs td.logTypeIcon {
  width: 50px;
}

table.applicationLogs .logProject, table.applicationLogs .logTakenOnBy {
  text-align: right;
}

table.applicationLogs .logProject {
  width: 100px;
}

table.applicationLogs .logTakenOnBy {
	font-size: 11px;
	color: #999;
  width: 200px;
}