<%= error_messages_for :project %>
  <div>
    <label for="projectFormName"><%= :name.l %>: <span class="label_required">*</span></label>
    <%= text_field 'project', 'name', :id => 'projectFormName', :class => 'long' %>
  </div>
