- form_tag password_path, :method => :post do
  %div
    %label{:for => "forgotPasswordEmail"}= :email_address.l
    = text_field_tag 'your_email', '', :id => 'forgotPasswordEmail', :class => 'medium'
  %input{:name => "submited", :type => "hidden", :value => "submited"}/
  #buttonSubmit
    %button.submit{:accesskey => "s", :type => "submit"}= :send_password.l
    %span
      | #{link_to :cancel.l, login_path}
