table.applicationLogs {
  width: 100%;
}

table.applicationLogs th {
  background: transparent;
  border-bottom: 1px solid #ccc;
}

table.applicationLogs tr.logToday {
  background: #FFFFCC;
}

table.applicationLogs tr.logYesterday {
  background: #FFFFE5;
}

table.applicationLogs tr.logOlder {
  background: white;
}

table.applicationLogs td {
  border-bottom: 1px solid #f0f0f0;
	padding: 6px 4px;
}

table.applicationLogs td.logTypeIcon {
  width: 65px;
}

table.applicationLogs span.label {
  font-size: 9px;
  line-height: 15px;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 0 5px;
  display: block;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

table.applicationLogs span.label.comment                  { background-color: #aba000; }
table.applicationLogs span.label.company                  { background-color: #4b696d; }
table.applicationLogs span.label.project_file_revision    { background-color: #647085; }
table.applicationLogs span.label.project_folder           { background-color: #ffe37e; color: black; }
table.applicationLogs span.label.project_file             { background-color: #647085; }
table.applicationLogs span.label.project_message_category { background-color: #fee172; color: black; }
table.applicationLogs span.label.project_message          { background-color: #00a650; }
table.applicationLogs span.label.project_milestone        { background-color: #662c91; }
table.applicationLogs span.label.project                  { background-color: #0076a3; }
table.applicationLogs span.label.project_task_list        { background-color: #9e005d; }
table.applicationLogs span.label.project_task             { background-color: #9e005d; }
table.applicationLogs span.label.project_time             { background-color: #103878; }
table.applicationLogs span.label.wiki_page                { background-color: #ff7cf4; color: black; }

table.applicationLogs .logProject, table.applicationLogs .logTakenOnBy {
  text-align: right;
}

table.applicationLogs .logProject {
  width: 100px;
}

table.applicationLogs .logTakenOnBy {
	font-size: 11px;
	color: #999;
  width: 200px;
}