- unless crumbs.nil?
  #crumbs
    %ul
      - crumbs.each do |crumb|
        %li
          - unless crumbs.first == crumb
            \&gt;
          - if crumb[:url]
            %a{:href => crumb[:url]}
              = crumb[:title].is_a?(Symbol) ? crumb[:title].l : h(crumb[:title])
          - else
            %span
              = crumb[:title].is_a?(Symbol) ? crumb[:title].l : h(crumb[:title])